* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f7f9fc;
    color: #111;
    line-height: 1.6;
}

.box {
    text-align: center;
    padding: 120px 20px;
    background:beige;
    color: black;
}

.box h1 {
    font-size: 52px;
    letter-spacing: 2px;
}

.tagline {
    margin-top: 10px;
    font-size: 22px;
    opacity: 0.8;
}


section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}


.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.service-card {
    background: beige;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 15px;
    background: #111;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #333;
}

#backToTop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    padding: 12px 15px;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    background: #111;
    color: white;
    cursor: pointer;
    display: none;
}
